body{background-color: rgb(129, 193, 233);}
.bfull{
    width: 75%;
    margin: auto;
}
.navbar{
    background-color: #134576;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: auto;
}
.navbar li a{
    color: white;
    margin: 10px;
    padding: 15px;
    text-decoration: none;
}
.navbar li{
    
    list-style: none;
}
.navbar .im1{
    margin: 15px;
    height: 40px;
    width: 50px;
}
.navbar .b img{
    height: 40px;
}
/* *****************************Dropdown list css starts from here******************************** */
.bar{
    position: relative;
}

.dropdown1 {
    background-color:steelblue;
    position: absolute;
    left: 0px;
    margin-left: -440px;
    width: 1130px;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown2 {
    background-color:steelblue;
    position: absolute;
    margin-left: -530px;
    width: 1120px;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown3 {
    background-color:steelblue;
    position: absolute;
    margin-left: -660px;
    width: 1120px;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown4 {
    background-color:steelblue;
    position: absolute;
    margin-left: -760px;
    width: 1120px;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.bar:hover .dropdown1, .bar:hover .dropdown2, .bar:hover .dropdown3, .bar:hover .dropdown4 {
    display: block; 
}

.dropdown1 .t{
    display: flex;
}

.t .tp{
    margin-left: 100px;
}
.d p{
    color: white;
}
/* research dropdown */
.dropdown2 .l{
    display: flex;
}
.l figure{
    margin-left: -2px;
}
.l .sp{
    margin-left: 50px;
}
.dropdown2 .l img{
    height: 70px;
    width: 80px;
    border: 10px solid skyblue;
}
.dropdown1 .d{
    text-align: center;
}
.l figcaption{
    width: 100px;
    color: white;
    margin-top: 10px;
}
 .bar:hover .dd_2{
    display: flex;
    
} 
.r{
    background-color: rgb(122, 163, 230);
    margin-left: 70px;
    width: 400px;
    padding: 20px;
    color: white;
}
.r .ima{
    display: flex;
}
.r h3{
    font-style: italic;
}
.r .ima img{
    border: 2px solid white;
    height: 80px;
    width: 80px;
}
.r .ima p{
    padding: 10px;
    margin-top: -20px;
}
.bar:hover .news_dd
{
    display: flex;
}
.ss{
    width: 400px;
    margin-left: 60px;
}
.a4 .ima{
    display: flex;
    padding: 10px;
}
.a4 .ima img{
    height: 80px;
    width: 80px;
}
.a4 .ima p{
    padding: 10px;
    margin-top: -20px;
    margin-left: 30px;
    width: 200px;
}
.a4 .pp1{
    font-style: italic;
    margin: 10px;
}
.a4 {
    background-color: rgb(122, 163, 230);
    margin-left: 120px;
    padding: 0px;
    color: white;
}
.bar:hover .about_dd{
    display: flex;
}
.about1{
    margin: 20px;
    width: 700px;
}
.bahar .about2_1,.bahar .about2_2{
    width: 400px;
}
.bahar{
    display: flex;
    margin: 20px;
    width: 400px;
}
.about3{
    background-color: rgb(122, 163, 230);
    margin-left: 10px;
}
.about3 .my{
    color: white;
    font-style: italic;
    padding: 20px;
}
.about3 .ima{
    display: flex;
    padding: 10px;
}
.about3 .ima img{
    height: 80px;
    width: 80px;
}
.about3 .ima p{
    margin-top: -10px;
    padding: 10px;
    color: white;
    margin-right: 20px;
}
/* ****************************Dropdown list css ends here***************************** */
.active{
    background-color: #566f9d;
}
.b:hover{
    background-color: rgb(150, 127, 255);
}
.back img{
    height: 400px;
    width: 100%;
}
.sc{
    background-color: #134576;
}
.sc h2{
    margin: auto;
    width: 300px;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    color:lightgray;
}
.sc h2:hover{
    color: white;
}
.im{
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.im .fl img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.im .fl figcaption{
    color:lightgray;
    display: flex;
}
.im .fl figcaption:hover{
    color: white;
}
.blu{
    height: 85px;
    background-color: #567a9d;
    display: flex;
}
.blu .main{
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}
.main .b1, .main .b2{
    width: 48%;
    height: 70%;
}
.b1 input{
    height: 90%;
    width: 82%;
    font-size: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: center;
    border: none;
    padding: 2px;
}
button{
    height: 100%;
    background-color: #7ab5da ;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.main .b2 button{
    width: 100%;
    border-radius: 8px;
}
.main .b1 button{
    width: 12%;
    margin-left: -5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.main .b1{
    margin-right: 10px;
}
.wt{
    background-color: white;
}
.wt .up{
    height: 180px;
}
.wt .ev{
    background-color: #e5f1f0;
    height: 600px;
    padding: 20px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 2rem;
}

.wt .up{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.wt .up .par{
    margin: 8%;
}

.wt .up img{
    height: 70px;
    width: 70px;
    padding-right: 10px;
    padding-left: 10px;
}

.wt .ev .in img{
    height: 170px;
    width: 300px;
}

.wt .ev .in h3{
    color:dodgerblue;
}

.wt .ev .in h3:hover{
    color:royalblue;
    text-decoration: underline;
}

.wt .news{
    display: flex;
}
.wt .news .left{
    padding-left: 50px;
    padding-right: 20px;
}
.wt .news .right{
    padding-right: 2%;
}
.date{
    font-size: 13px;
    color:darkslategrey;
}
.ns{
    padding-bottom: 30px;
}
.parag{
    font-size: 16px;
    color: darkslategrey;
}
.wt .news h3{
    color:dodgerblue;
}
.wt .news h3:hover{
    color: royalblue;
    text-decoration: underline;
}
.wt .news a{
    text-decoration: none;
    color:royalblue;
}
footer{
    background-color: #002248;
}
.data .grii{
    display: flex;
    padding: 10px;
    color: white;
}
.data .grii .col{
    width: 25%;
    margin-top: 30px;
    margin: 20px;
}
.data .grii a{
    color: rgb(170, 211, 238);
    text-decoration: none;
}
.data .grii a:hover{
    text-decoration: underline;
    color: rgb(92 101 237);
}
.col li{
    padding: 10px;
    list-style: none;
}
.line{
    background-color: rgb(170, 211, 238);
    height: 0.1px;
    width: 100%;
}