body{background-color: rgb(129, 193, 233);}
.bfull{
    width: 75%;
    margin: auto;
}
.navbar{
    background-color: #41416e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    /* width: 75%; */
    margin: auto;
    /* width: 100%; */
}
.navbar li a{
    color: white;
    margin: 10px;
    padding: 15px;
    text-decoration: none;
}
.navbar li{
    
    list-style: none;
}
.navbar .im1{
    margin: 15px;
    height: 40px;
    width: 50px;
}
.navbar .b img{
    height: 40px;
}
.active{
    background-color: #566f9d;
}
.b:hover{
    background-color: rgb(150, 127, 255);
}
.back img{
    height: 400px;
    width: 100%;
}
.sc{
    background-color: #134576;
}
.sc h2{
    margin: auto;
    width: 300px;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    color:lightgray;
    /* border: 2px solid red; */
}
.sc h2:hover{
    color: white;
}
.im{
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.im .fl img{
    /* border: 2px solid red; */
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.im .fl figcaption{
    color:lightgray;
    display: flex;
}
.im .fl figcaption:hover{
    color: white;
}
.blu{
    height: 85px;
    background-color: #567a9d;
    display: flex;
}
.blu .main{
    display: flex;
    height: 80%;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}
.main .b1, .main .b2{
    /* border: 2px solid orange; */
    /* margin: 10px; */
    width: 48%;
    height: 70%;
}
.b1 input{
    height: 90%;
    width: 82%;
    font-size: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: center;
    border: none;
    padding: 2px;
}
button{
    height: 100%;
    background-color: #7ab5da ;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.main .b2 button{
    width: 100%;
    border-radius: 8px;
}
.main .b1 button{
    width: 12%;
    margin-left: -5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.main .b1{
    margin-right: 10px;
}
.wt{
    /* height: 1500px; */
    background-color: white;
}
.wt .up{
    height: 180px;
    /* border: 4px solid black; */
}
.wt .ev{
    background-color: #e5f1f0;
    height: 600px;
    /* border: 2px solid red; */
    padding: 20px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 2rem;
}

.wt .up{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.wt .up .par{
    margin: 8%;
}

.wt .up img{
    height: 70px;
    width: 70px;
    padding-right: 10px;
    padding-left: 10px;
}

.wt .ev .in img{
    height: 170px;
    width: 300px;
}

.wt .ev .in h3{
    color:dodgerblue;
}

.wt .ev .in h3:hover{
    color:royalblue;
    text-decoration: underline;
}

.wt .news{
    display: flex;
}
.wt .news .left{
    padding-left: 50px;
    padding-right: 20px;
}
.wt .news .right{
    /* margin: 10%; */
    /* border: 3px solid yellow; */
    padding-right: 2%;
}
.date{
    font-size: 13px;
    color:darkslategrey;
}
.ns{
    padding-bottom: 30px;
}
.parag{
    font-size: 16px;
    color: darkslategrey;
}
.wt .news h3{
    color:dodgerblue;
}
.wt .news h3:hover{
    color: royalblue;
    text-decoration: underline;
}
.wt .news a{
    text-decoration: none;
    color:royalblue;
}
footer{
    background-color: #002248;
    /* height: 40px; */
}
.data .grii{
    display: flex;
    /* justify-content: space-between; */
    padding: 10px;
    color: white;
}
.data .grii .col{
    /* height: 300px; */
    width: 25%;
    /* border: 2px solid red; */
    margin-top: 30px;
    margin: 20px;
}
.data .grii a{
    color: rgb(170, 211, 238);
    text-decoration: none;
}
.data .grii a:hover{
    text-decoration: underline;
    color: rgb(92 101 237);
}
.col li{
    padding: 10px;
    list-style: none;
}
.line{
    background-color: rgb(170, 211, 238);
    height: 0.1px;
    width: 100%;
}